APP_IMAGE=ghcr.io/diegoasmoura/id_finance:latest
MIGRATOR_IMAGE=ghcr.io/diegoasmoura/id_finance:latest-migrator
APP_BIND_ADDRESS=0.0.0.0
APP_PORT=3020
BETTER_AUTH_URL=http://SUBSTITUA-PELO-IP-TAILSCALE:3020
BETTER_AUTH_SECRET=generate-with-openssl-rand-hex-32
CLOUDFLARE_TUNNEL_TOKEN=
POSTGRES_DB=investimentos
POSTGRES_USER=app
POSTGRES_PASSWORD=generate-another-openssl-rand-hex-32
POSTGRES_DATA_PATH=/Volume1/docker/id-finance/postgres
